/* ============================BEGIN COMMON STYLES==============================*/

body {
    line-height: 1;
    font-family: 'Courier New', Courier, monospace !important;
    color      : #425363;
}

#container {
    width      : 80%;
    margin-left: 6vw;
    margin-top : 10vh;
}


#container h1 {
    font-size  : 1.55em;
    font-weight: 600;
}


#container>input,
#simpleFormOutline>input {
    padding      : 20px;
    width        : 40%;
    margin-bottom: 16px;
    border       : 1px solid #425363;
    border-radius: 3px;
    margin-top   : 6px;
}

#container>button,
#simpleFormOutline>button {

    padding           : 12px 24px;
    font-family       : 'Courier New', Courier, monospace !important;
    border            : 1px solid #425363;
    padding           : 20px;
    color             : #425363;
    border-radius     : 3px;
    font-size         : 16px;
    cursor            : pointer;
    box-shadow        : inset 0 0 0 0 #425363;
    -webkit-transition: ease-out 0.15s;
    -moz-transition   : ease-out 0.15s;
    transition        : ease-out 0.15s;
    width             : 150px;
    margin-bottom     : 10px;
}

#container>button:hover,
#simpleFormOutline>button:hover {
    box-shadow: inset 0 0 0 50px #425363;
    color     : #FFF;
}

#container>p {
    padding    : 12px 0;
    font-weight: 800;
    font-size  : 2em;
}

#answer {
    margin-top: 20px;
    font-size : 1.4em;
}

.answer {
    margin-top: 20px;
}


.red,
.blue,
.green {
    font-weight: 500;
}

.red {
    color: #e73845;
}

.green {
    color: forestgreen;
}

.blue {
    color: #00b1ff;
}

.dnone {
    display: none;
}

.dblock {
    display: block;
}

/*============================END OF COMMON STYLES==============================*/

.gridTables {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap      : 20px;
    grid-row-gap         : 20px;
    justify-items        : stretch;
    align-items          : stretch;
}

/*============================END OF COMMON STYLES==============================*/